.nav {
  display: flex;
  align-items: center;
  width: 99%;
  background: cornflowerblue;
  gap: 100px;
  padding: 10px;
  border-radius: 25px;
}
.image {
  border-radius: 100px;
  width: 6%;
}
