<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
      >
        Visualizza Catalogo
      </button>
    </h2>
    <div
      id="flush-collapseOne"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        Visualizza tutta la lista dei prodotti presenti in magazzino
        <button class="btn btn-primary" [routerLink]="'/catalogo'">
          Visualizza Articoli
        </button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo"
        aria-expanded="false"
        aria-controls="flush-collapseTwo"
      >
        Esplora il mondo di I-tech
      </button>
    </h2>
    <div
      id="flush-collapseTwo"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        Il negozio di tecnologia è un paradiso moderno per gli appassionati di
        elettronica. Non appena si entra, si è accolti da una serie di schermi
        luminosi che mostrano le ultime novità in fatto di gadget e dispositivi.
        Le pareti sono rivestite di scaffali pieni di prodotti accuratamente
        organizzati, dai computer portatili alle fotocamere digitali, dai
        telefoni cellulari ai videogiochi. Al centro del negozio, c’è una zona
        demo dove i clienti possono provare personalmente i dispositivi. Qui, si
        possono testare le ultime console di gioco, provare i nuovi modelli di
        smartphone o esplorare le funzionalità di un drone high-tech. Gli
        addetti alle vendite, competenti e amichevoli, sono sempre disponibili
        per rispondere alle domande e offrire consigli su quale prodotto
        potrebbe essere il migliore per le esigenze del cliente. Nell’angolo del
        negozio, c’è un’area dedicata ai servizi di riparazione e assistenza.
        Qui, tecnici esperti sono pronti ad aiutare con qualsiasi problema
        tecnico che un cliente potrebbe avere con i suoi dispositivi.
        L’atmosfera del negozio è vivace e accogliente, con musica soft che
        suona in sottofondo e un design moderno e pulito che riflette
        l’innovazione dei prodotti in vendita. Che tu sia un esperto di
        tecnologia o un principiante, questo negozio di tecnologia ha qualcosa
        da offrire a tutti.
      </div>
    </div>
  </div>
</div>
