<div class="conteiner-car">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide dim-carousel"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://th.bing.com/th/id/OIP.8xxdbWx8Xa1v-yaVnzB19AHaEK?w=309&h=180&c=7&r=0&o=5&pid=1.7"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://th.bing.com/th/id/OIP.Twtytd2c1wxwV2pLHgFZZgHaEK?w=306&h=180&c=7&r=0&o=5&pid=1.7"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://th.bing.com/th/id/OIP.FMoLFx6WoPczHwnq8G4V3gHaDt?w=327&h=174&c=7&r=0&o=5&pid=1.7"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
